/* Global */

body {
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
}
.container {

}
/*
  Devices with min-width of 770px
*/
@media only screen and (min-width: 770px) {
	.container {
		width: 85%;
		margin: 0 auto;
	}
	/* Desktop top navigation (menu) */
	.logo-header img {
		height: 4em;
		width: auto;
	}
	.navigation {
		margin-top: 20px;
		position: relative;
	}
	.links-nav {
		display: inline-block;
		position: absolute;
		right: 0;
	}
	.burger-box {
		display: none;
	}
	a, ul li {
		text-decoration: none;
		list-style-type: none;
		color: black;
	}
	.link {
		display: inline-block;
		padding-right: 7px;
		font-weight: bold;
		font-size: 1.5em;
	}
	li:first-child {
		display: none;
	}
  /* Main container*/
  .main-container {
    margin-top: 20px;
    height: 50vh;
  }
  .side {
    background-color: rgba(77,77,77,.9);
    height: 300;
    border-radius: 5px;
  }
  .display-4 {
    color: white;
  }
  dt {
    color: rgb(255,90,51);
  }
  dd {
    color: rgb(225,185,60);
  }

  /*Images for ui*/
  .img-iphone {
    width: 100%;
    height: auto;
    display: flex;
		align-items: center;
	 	justify-content: center;
  }
  #main-img {
    margin-top: 20px;
  }
  .img {
    width: 100%;
    margin: auto;
  }
	.img-i {
		width: 950px;
		height: auto;
	}
	#iphone-img {
		padding-left: 100px;
		transition: opacity 500ms ease-out;
		opacity: 0;
	}
	/*side design card*/
		.card {
			border-radius: 5px;
			cursor: pointer;
		}
		.img-container {
			overflow: hidden;
			background-color: rgba(0,0,0,1);
			border-radius: 5px;
			display: flex;
			align-items: center;
		 	justify-content: center;
		}
		.card-img{
			width: auto;
			height: 275px;
			opacity: .7;
			transition: 500ms ease-in;
		}
		.card-title {
			color: white;
		}
		.card:hover .card-img {
			opacity: 0.3;
			transform: scale(1.1);
		}
		.card-brand {
			margin-top: 150px;
		}
		/*Gallery of images*/
		.gallery {
			margin-top: 30px
		}
		.img-con {
			width: 100%;
			display: flex;
			align-items: center;
		 	justify-content: center;
		}
		.img-lg {
			width: 100%;
		}
		/*hand iphone*/
		.imghand-con {
			overflow: hidden;
		}
		#hand-img {
			transition: 400ms ease-in;
			transform: translate3d(-350px,0,0) rotate(-25deg);
		}

		/*
					SELF BRAND
		*/
		.jumbo {
			margin-top: 20px;
			width: 100%;
			height: auto;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		#jumbo-gif {
			width: 85%;
			height: auto;
		}
		.img-ip {
			width: 400px;
			height: auto;
		}
		.img-ipad {
			width: 900px;
			height: auto;
		}
		.showItem {
			opacity: 0;
			transition: 500ms ease-in;
		}
}
/*
	Mobile
*/
@media only screen and (max-width: 769px) {
	/* mobile nav */
	header {
		margin-top: 10px;
	}
	a {
		text-decoration: none;
		color: black;
	}
	h2 {
		color: black;
	}
	#navi {
		position: relative;
		top: 20%;
		transform: skew(-15deg);
	}
	.container {
		margin: 0 auto;
		width: 95%;
	}
	.navigation {
		width: 100%;
	}
	.logo-header img {
		width: 5em;
		height: auto;
		display: inline-block;
	}
	.links-nav {
		z-index: 900;
		background-color: rgb(225, 250, 0);
		text-align: center;
		position: fixed;
		transition: 500ms ease-in;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100vw;
		transform: translate3d(-100%, 0, 0);
	}
	.link {
		padding: 0;
		padding-top: 5px;
		text-decoration: none;
		list-style-type: none;
		font-weight: bold;
		font-size: 3em;
	}
	.burger-box {
		z-index: 900;
		display: inline-block;
		height: 2.7em;
		width: 2.7em;
		transition: all 500ms ease-in;
		position: fixed;
		right: 2.5%;
	}
	.icon {
		position: absolute;
		width: 43px;
		height: 5px;
		background-color: red;
		border-radius: 5px;
		top: 50%;
		left: 50%;
		transform: translate3d(-50%, -50%, 0);
		transition: 500ms ease-in;
	}
	.icon::before, .icon::after {
		content: '';
		position: inherit;
		width: 43px;
		height: 5px;
		background-color: red;
		border-radius: 5px;
		top: 50%;
		left: 50%;
		transform: translate3d(-50%, -50%, 0);
		transition: 500ms ease-in;
	}
	.icon::before {
		top: -10px;
	}
	.icon::after {
		top: 15px;
	}
	.icon.icontog {
		width: 24px;
		height: 1px;
		height: 2px;
		background-color: rgba(0, 0, 0, 1);
	}
	.icon.icontog::before, .icon.icontog::after {
		width: 25px;
		height: 2px;
		background-color: rgba(0, 0, 0, 1);
	}
	.icon.icontog::before {
		top: -6px;
	}
	.icon.icontog::after {
		top: 9px;
	}
	.scrollNav {
		height: 2em;
		width: 2em;
		border: solid 1px black;
	}
	.togMenu {
		transform: translate3d(0, 0, 0);
		transform: skew(15deg);
	}
	.rotateM {
		transform: rotate(90deg);
	}
  /*jummbo img*/
  .img {
    width: 100%;
    margin: auto;
  }

	/*iphone card #1*/
	.img-iphone {
    width: 100%;
		overflow: hidden;
    height: auto;
    display: flex;
		align-items: center;
	 	justify-content: center;
  }
	.img-i {
		width: 800px;
		padding-left: 100px;
	}
	.card-brand {
		margin-top: 30px;
	}
	.img-con {
			overflow: hidden;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 10px;
	}
	.img-lg {
		width: 100%;
	}
	/*hand*/
	.imghang-img {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	#hand-img {
		width: 100%;
		transition: 800ms ease-in;
		transform: translate3d(-100px,-50px,0) rotate(-20deg);
	}

			/*
						SELF BRAND
			*/
			.jumbo {
				margin-top: 8px;
				width: 100%;
				height: auto;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			#jumbo-gif {
				width: 100%;
				height: auto;
			}
			.img-ip {
				width: 90%;
				height: auto;
			}
			.img-ipad {
				width: 400px;
				height: auto;
			}
			.showItem {
				opacity: 0;
				transition: 500ms ease-in;
			}

}
